<%= debug params %>

<table>
  <tr>
    <th>Endereco</th>
    <th>Lat</th>
    <th>Lng</th>
  </tr>

  <tr>
    <td><%= @location.endereco %></td>
    <td><%= @location.lat %></td>
    <td><%= @location.lng %></td>
  </tr>
</table>

<% if @res %>

  <script type="text/javascript"> 
    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(<%= @res.lat %>, <%= @res.lng %>), 13);
        GEvent.addListener(map, "click", function() {
          alert("You clicked the map.");
         });
      }
    }  
    </script> 
 
 <body onload="initialize()" onunload="GUnload()"> 
    <div id="map_canvas" style="width: 500px; height: 300px"></div> 
    <div id="message"></div> 
  </body> 

<% end %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %> |

<%= link_to 'Ampliar Mapa', map2_location_path %>
